.eolica {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* serve para aplicar configurações iguais em elemnetos distintos */
table, td {
    border: 1px solid black;
    border-spacing: 0;
}

table {
    width: 1200px;
    margin: 0, auto;
}

td {
    padding: 10px;
}

.thead {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

table img{
    width: 100%;
}

.tbody{
    width: 300px;
}