@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

div#interface {
    width: 1300px;
    margin: 0 auto;
}

/* start header */
header {
    background-color: #253526;
    padding: 10px;
    height: 60px;
}

.logo {
    float: left;
}

.social {
    float: right;
    padding-top: 17px;
}

.titulo1 {
    color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

.logo img {
    vertical-align: middle;
}

.social img {
    width: 24px;
}

h1 {
    color: green;
}

/*start menu*/

/* muda a cor de fundo dos menus */
.menu {
    background-color: rgb(39, 39, 39);
}

/* 1°- tira os marcadores
   2°- alinha o texto no centro
   3° e 4°- reduz as bordas do menu*/
.menu ul {
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 1°- Muda a cor do texto 
   2°- tira as decorações do texto, como o sublinhado
   3°- dá espaço entre as palavras para o menu não ficar mexendo*/
.menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;

}

/* 1°-coloca o texto e os marcadores (invisiveis) em linha reta */
.menu li {
    display: inline;
}

/* o que vai acontecer na página se o mouse passar em cima do texto */
.menu a:hover {

    background-color: #ffc107;
    color: rgb(39, 39, 39);
}

/* aumenta o tamanho dos paragráfos */
p {
    margin-bottom: 16px;
}


/* 1° no css precisa colocar ../ para acessar a url da imagem
   |3° serve para fazer a imagem não se repetir, caso ela seja pequena|
   4° ajusta a posição da imagem
   5°controla o tamanho da  imagem de fundo, mais usados : cover, contain, 100% */

.banner {

    background-image: url(../imagens/banner.jpg);
    height: 500px;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;

}

/* 5° serve para deixar o texto em negrito 
6° coloca uma sombra no texto*/
.banner p {

    text-align: center;
    color: white;
    font-size: 75px;
    padding-top: 200px;
    font-weight: bold;
    text-shadow: 6px 6px 6px #081d07;


}

/* start missao */
.missao {
    padding: 75px 50px;
    text-align: center;

}

.titulo2 {
    font-size: 35px;
    padding-bottom: 25px;
}

.missao p {
    font-size: 20px;
}

/* span serve para mudar uma palavra específica dentro de um texto já formatado */
.missao span {
    font-weight: bold;
    color: #030;
    line-height: 5px;
}

/* fazendo uma seção com bordas, que fica entre a margem e a margem interna */
.alerta {

    /* border-color: rgb(99, 56, 27); 
    border-width: 10px;
    border-style:solid;*/

    /* border: #990, 10px, solid; */

    border-top: 15px solid rgb(35, 30, 24);
    border-bottom: 15px solid rgb(35, 30, 24);
    background-color: rgb(61, 50, 33);
    color: white;
    height: 350px;

}

.alerta figure {

    float: left;
    /* width: 285px; */
    width: 25%;
    text-align: center;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    height: 330px;

}

.alerta figcaption {

    padding-top: 10px;
}

.alerta h3 {

    padding-bottom: 15px;
}

.alerta a {

    color: black;
    /* tirando o sublinhado */
    text-decoration: none;
    background-color: #ffc107;
    padding: 5px 10px;
    /* deixando em negrito */
    font-weight: bold;
    border-radius: 10px;
    /* sempre colocar um position absolute dentro de uma tag que possua um position relative (tag figure nesse caso) */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    bottom: 0px;
    right: 33%;
}

/* start renovável */

.renovavel {
    padding-top: 25px;
    float: left;
    width: 875px;
    padding-right: 25px;
    border-right: 2px solid rgb(35, 30, 24);
}

.renovavel h2 {
    padding-bottom: 25px;
}

.renovavel-img {
    width: 25%;
    float: left;
    padding-right: 10px;

}

.renovavel p {
    text-align: justify;

}

.renovavel figure{
    float: left;
    margin: 25px;
}

/* transition: configura para que a imagem tenha um atraso de 0.5 segundos para ficar totalmente opaca */
.renovavel figure img {
    opacity: 50%;
    /* width: 100%; */
    transition: opacity 0.5s 
    /* , width 1s ; */

    /* serve para dar um atraso de 0.5 segundos à todas as propriedades */
    /* transition: all 0.5s */
}

/* hover serve para que assim que passar o mouse, a imagem fica com a opacidade volte a ser 100 */
.renovavel figure:hover img{
    opacity: 1;
    /* width: 110%; */
}

.renovavel figcaption{
    text-align: center;
    text-transform: uppercase;
}


/* start lateral */
.lateral {
    float: right;
    width: 380px;
    padding-top: 25px;
}

.lateral img {
    width: 40%;
    float: left;
    padding-right: 10px;
}

/* start rodape */
.rodape {
    background-color: rgb(35, 30, 24);
    clear: both;
    color: #fff;
    padding: 20px;
    height: 50px;
}

.rodape img {
    float: left;
}

.rodape p {
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}