@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

div#interface{
    width: 1300px;
    margin:0 auto;
}

/* start header */
header{
    background-color: #253526;
    padding: 10px;
    height: 60px;
}

.logo{float: left;}

.social{
    float: right;
    padding-top: 17px;
}

.titulo1{
    color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

.logo img{vertical-align: middle;}

.social img{
    width: 24px;
}

h1{color: green;}

/* start menu */
.menu{
    background-color: rgb(39, 39, 39);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul{
    list-style-type: none;
    text-align: center;
}

.menu li{display: inline;}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a:hover{
    background-color: #ffc107;
    color: #000;
}

p{margin-bottom: 16px;}

/* start banner */
.banner{
    background-image: url(../imagens/banner.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    height: 500px;
}

.banner p{
    text-align: center;
    color: #fff;
    font-size: 75px;
    padding-top: 200px;
    font-weight: bold;
    text-shadow: 3px 3px 2px #000;
}

/* start missao */
.missao{
    padding: 75px 50px;
    text-align: center;
}

.titulo2{
    font-size: 35px;
    padding-bottom: 25px;
    text-align: center;
}

.missao p{
    font-size: 20px;
    line-height: 25px;
}

.missao span{
    font-weight: bold;
    color: #030;
}

.alerta{
    /* border-color: #900;
    border-width: 50px;
    border-style: inset; */
    /* border: 10px solid #099; */
    border-top: 15px solid rgb(35,30,24);
    border-bottom: 15px solid rgb(35,30,24);
    background-color: rgb(63,50,33);
    color: #fff;
    height: 350px;
}

.alerta figure{
    float: left;
    width: 25%;
    text-align: center;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    height: 330px;
}

.alerta figcaption{
    padding-top: 10px;
}

.alerta h3{
    padding-bottom: 15px;
}

.alerta a{
    color: #000;
    text-decoration: none;
    background-color: rgb(255, 193, 7);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    /* top: 0;
    left: 0; */
    bottom: 0;
    right: 35%;
}

/* .posicao{
    position: relative;
    left: 200px;
    top: 200px;
} */
/* img{border-radius: 50%;} */

/* start renovavel */
.renovavel{
    padding-top: 25px;
    float: left;
    width: 875px;
    padding-right: 25px;
    border-right: 2px solid rgb(35,30,24);
}

.renovavel-img{
    width: 25%;
    float: left;
    padding-right: 10px;
}

.renovavel p{
    text-align: justify;
}

.renovavel figure{
    float: left;
    margin: 25px;
}

.renovavel figure img{
    opacity: 0.5;
    /* width: 80%;
    border-radius: 50%; */
    transition: all 0.5s;
}

.renovavel figure:hover img{
    opacity: 1;
    /* width: 100%;
    border-radius: 0; */
}

.renovavel h3{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

/* start lateral */
.lateral{
    float: right;
    width: 380px;
    padding-top: 25px;
}

.lateral img{
    width: 40%;
    float: left;
    padding-right: 10px;
}

.lateral a{
    text-decoration: none;
    color: black;

}

/* start rodape */
.rodape{
    background-color: rgb(35,30,24);
    clear: both;
    color: #fff;
    padding: 20px;
    height: 50px;
}

.rodape img{
    float: left;
}

.rodape p{
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}

